@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url("  https://github.com/cognitom/paper-css");
* {
  margin: 0;
  padding: 0;
}
body {
  color: white;
  background: rgb(90 88 88);
}
.main_container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Work Sans", sans-serif;
}
.container {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 200vh;
  height: 88vh;
  width: 50%;
  background: rgb(92, 90, 90);
  flex-direction: column;
  border-radius: 20px;
}
.coInfoContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 950px;
  width: 50%;
  background: rgb(40, 40, 40);
  flex-direction: column;
  border-radius: 20px;
}
.register {
  display: flex;
  margin-top: 7px;
  flex-direction: row-reverse;
  color: #8ab4f8;
  font-size: 19px;
}
.forgotPassword {
  margin-top: 7px;
  display: flex;
  flex-direction: row-reverse;
  color: #8ab4f8;
  font-size: 19px;
}
.logIn {
  margin-top: 7px;
  display: flex;
  flex-direction: row-reverse;
  color: #8ab4f8;
  font-size: 19px;
}
.register:hover,
.forgotPassword:hover,
.logIn:hover {
  text-decoration: underline;
  cursor: pointer;
}
.setUp {
  /* margin-top:20px; */
  font-size: 25px;
  color: rgb(149, 143, 143);
  font-family: "Poppins", sans-serif;
}
/* header */
#hamburger {
  margin: 0px 10px 0px 8px;
  cursor: pointer;
}
.header {
  background: rgb(54, 54, 54);
  position: relative;
  padding: 8px;
  font-family: "Work Sans", sans-serif;
  display: flex;
}
.profile {
  margin-top: 6px;
  display: flex;
  margin-right: 65px;
  width: 100%;
  align-items: flex-end;
  flex-direction: column;
}

.dropdownBox {
  width: 0;
  height: 0;
}
.dropdownBox-lg {
  width: 0;
  height: 0;
}
.dropdown {
  display: flex;
  flex-direction: column;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate(-155px, 30px);
  font-family: "Work Sans", sans-serif;
}
.dropdown-lg {
  display: flex;
  flex-direction: column;
  inset: 0px auto auto 0px;
  margin: auto;
  transform: translate(-655px, -130px);
  font-family: "Work Sans", sans-serif;
}
.dropdown-header {
  display: flex;
  flex-direction: row-reverse;
}
.dropdown-menu {
  display: flex;
  flex-direction: column;
  background: white;
  color: black;
  width: 100px;
  padding: 5px 5px;
}
.dropdown-menu-lg {
  display: flex;
  flex-direction: column;
  background: white;
  color: black;
  width: 47vw;
  height: 90vh;
  overflow: scroll;
  padding: 5px 5px;
}
.dropdown-item {
  display: flex;
  flex-direction: row;
  line-height: 1.8rem;
  cursor: pointer;
}
.dropdown-item:hover {
  background: rgb(205, 205, 205);
}
.dropdown a {
  text-decoration: none;
  color: black;
}
.dropdownIcons {
  margin: 3px 12px 0px 4px;
}
#profile {
  width: 10px;
  height: 10px;
}
.icon {
  margin: 8px 0px 0px 0px;
}
.dropdownOverlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  cursor: pointer;
}
.dropdownOverlay-lg {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  cursor: pointer;
}
#user {
  color: white;
  font-size: 20px;
  cursor: pointer;
}
#logo {
  font-size: 20px;
  color: #ff8724;
}

/* SideBar */
.sideBar {
  width: 165px;
  min-height: 91vh;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 16%);
  background: rgb(54, 54, 54);
  position: fixed;
  top: 64px;
  left: -100%;
  z-index: 2;
  transition: 0.5s;
}
.sideBar.active {
  left: 0;
}

.sidebar-overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
.sidebar-overlay.active {
  opacity: 1;
  visibility: visible;
}
.justicons {
  position: fixed;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 60px;
  padding: 0px 20px;
  background: rgb(54, 54, 54);
}
.justicons svg {
  display: flex;
  margin: 48px 0px 0px 0px;
  text-align: center;
  cursor: pointer;
  border-radius: 7px;
  padding: 10px 5px;
  color: white;
}
.sideBar.active {
  left: 0;
}
.dash {
  text-decoration: none;
  color: white;
}
.dashOpt {
  display: flex;
  margin: 48px 0px 0px 0px;
  text-align: center;
  cursor: pointer;
  border-radius: 7px;
  padding: 10px 5px;
}
.dashOpt svg {
  margin: 8px 10px 0px 0px;
}

.dashOpt:hover {
  cursor: pointer;
  background: rgb(40 40 40);
}
.dashOpt.active {
  background: rgb(40 40 40);
}
.head {
  margin-top: 9px;
  display: flex;
  color: white;
}
.head i {
  font-size: 30px;
  color: #ff8724;
  margin: 5px 10px;
}
.coloured {
  color: #ff8724;
}
.greet {
  font-size: 25px;
  color: rgb(149, 143, 143);
  font-family: "Poppins", sans-serif;
}
.basicForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form#invoiceForm {
  display: block;
}
.form-label {
  font-size: 20px;
  margin: 7px 0px 5px 15px;
  font-family: "Work Sans", sans-serif;
}
.form-inp {
  outline: none;
  border: 1px solid #277bc0;
  border-radius: 15px;
  width: 490px;
  background: transparent;
  padding: 8px;
  color: white;
  margin: 0px 10px;
  font-size: 18px;
}
.form-inp:hover {
  border: 1px solid #fbfbfb;
}
.form-inp:active {
  border: 1px solid #fbfbfb;
}
.form-field {
  display: flex;
  flex-direction: column;
}
span a {
  font-size: 19px;
  float: right;
  margin: 5px 15px;
  font-weight: 550px;
}
.btn {
  background: #dc721a;
  color: white;
  /* outline: none; */
  padding: 10px 10px;
  /* font-size: 16px; */
  /* border: 0px; */
  border-radius: 15px;
  width: 25%;
  display: flex;
  cursor: pointer;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}
.btn a {
  text-decoration: none;
  color: white;
}
span.or {
  color: rgb(149, 143, 143);
}
span.or:after,
span.or:before {
  content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
  text-decoration: line-through;
}
.gmail p,
.facebook p {
  margin-top: 13px;
  margin-left: 9px;
}
.gmail,
.facebook {
  display: flex;
  margin-top: 15px;
  cursor: pointer;
}

#fb,
#mail {
  font-size: 32px;
}
.coInfo {
  border: 1px solid #277bc0;
  border-radius: 13px;
  width: 650px;
  height: 250px;
  display: flex;
  flex-direction: column;
  background: rgb(30, 30, 30);
  align-items: center;
  justify-content: center;
  /* font-size: 3px; */
  margin-top: 4px;
}
.taxInfo {
  border: 1px solid #277bc0;
  border-radius: 13px;
  width: 650px;
  height: 165px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(30, 30, 30);
  justify-content: center;
  /* font-size: 3px; */
  margin-top: 4px;
}

#taxName,
#taxRate {
  width: 200px;
}
#contactName,
#contactEmail {
  width: 210px;
}
.form-label-2 {
  margin: 3px 0px 7px 13px;
  font-size: 18px;
  font-family: "Work Sans", sans-serif;
}
#date {
  color: black;
  background: white;
}
input[type="date" i] {
  cursor: pointer;
}
.inline-form-field {
  display: flex;
  width: 490px;
  margin-top: 10px;
}
.address {
  border: 1px solid #277bc0;
  border-radius: 20px;
  width: 650px;
  height: 263px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  margin-top: 10px;
  flex-direction: column;
  background: rgb(30, 30, 30);
}
select {
  outline: none;
  border: 1px solid #277bc0;
  border-radius: 15px;
  width: 550px;
  background: transparent;
  padding: 7px;
  color: white;
  margin: 3px 10px;
  font-size: 20px;
}
option {
  background: black;
  border-bottom: 1px solid white;
}
.left-div {
  margin-left: -29px;
}
.right-div {
  margin: 0px 0px 0px 100px;
}
#country,
#state {
  width: 200px;
}
/* #country {
  margin: 3px 0px -3px -10px;
}
#state {
} */
#city,
#postal {
  width: 180px;
}
.form-field-2 {
  margin-top: 0px;
}
.dashboard-container {
  position: absolute;
}
.MainDashboard {
  position: absolute;
  left: 14%;
  top: 20%;
  /* height: 66vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading {
  font-family: "Poppins", sans-serif;
  margin-top: 50px;
  width: 32%;
}
.heading p {
  font-weight: 600;
}
.clients .invoices {
  width: 50%;
}
.invoices-table,
.clients-table {
  table-layout: fixed;
  width: 100%;
  background: rgb(54, 54, 54);
}
.dashboard-invoices-table,
.dashboard-clients-table {
  table-layout: fixed;
  width: 50%;
  background: rgb(54, 54, 54);
}
.table-heading {
  background: transparent;
  border-color: white;
  width: 125px;
}
.table-item {
  cursor: pointer;
  background: transparent;
  border-color: white;
}
.client-table-heading,
.client-table-item {
  background: transparent;
  border-color: white;
}
.status.Draft {
  background: #1170be;
}
.status.Paid {
  background: green;
}
.status.Sent {
  background: #ff8724;
}
.viewAll {
  margin: 0px 0px 0px 10px;
  color: rgb(114, 103, 239);
  font-size: 16px;
}
/* For seprate client and Invoice Pages */
.clientsPage,
.invoicesPage {
  position: absolute;
  width: 65%;
  /* width: 70%; */
  top: 150px;
  /* height: 85vh; */
  left: 19%;
  /* margin-left: 300px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#clientHead {
  margin-left: 0px;
}
#invoiceHead {
  margin-left: 0px;
}
.clientHeading,
.invoiceHeading {
  display: flex;
  width: 98%;
  justify-content: space-between;
}
.btn-sm {
  width: 30px;
  height: 30px;
  font-size: 22px;
  display: flex;
  text-align: center;
  border-radius: 80px;
  margin: 0px 0px 6px 0px;
  color: white;
  float: right;
  border: 1px solid #dc721a;
  background: transparent;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.btn-sm:hover {
  background: #f27c1c;
}
p {
  color: white;
  font-size: 19px;
  font-weight: 500;
  text-align: center;
  margin: 10px 0px;
  font-family: "Work Sans", sans-serif;
}
.clients,
.invoices {
  width: 50%;
}
.clientContainer,
.invoiceContainer {
  width: 95%;
  background: rgb(54, 54, 54);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}
.dashboard-client-container,
.dashboard-invoice-container {
  width: 50%;
}
.dashboard-headings {
  display: flex;
  justify-content: center;
}
.modal-header {
  padding: 10px 0px;
  font-size: 25px;
  display: flex;
}
.user {
  font-size: 24px;
  background: purple;
  height: 40px;
  border-radius: 50%;
  display: flex;
  width: 40px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
body.active-modal {
  overflow-y: hidden;
}
.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}
.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 690px;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #0e0e0e;
  padding: 5px 10px;
  border-radius: 3px;
  overflow-y: auto;
  max-height: 88vh;
}
.btn-close-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 6px;
  right: 10px;
  cursor: pointer;
  background: transparent;
  color: white;
  outline: none;
  font-size: 25px;
  border: 1px solid #dc721a;
  border-radius: 15px;
  transform: rotate(45deg);
}
.btn-close-modal:hover {
  background: #f27c1c;
}
.btn-close-preview {
  position: absolute;
  cursor: pointer;
  font-size: 27px;
  transform: rotate(45deg);
}
.btn-close-preview:hover {
  font-size: 30px;
}
.modal-footer {
  display: flex;
  flex-flow: row-reverse;
}

.btn-md {
  background: #dc721a;
  color: white;
  outline: none;
  padding: 10px 10px;
  font-size: 16px;
  border: 0px;
  border-radius: 10px;
  cursor: pointer;
  margin: 16px 0px 0px 20px;
}
.btn-md-download {
  background: #dc721a;
  color: white;
  outline: none;
  padding: 5px 10px;
  display: flex;
  font-size: 14px;
  border: 0px;
  border-radius: 10px;
  cursor: pointer;
  margin: 8px 3px 0px 0px;
  justify-content: center;
  align-items: center;
  width: 80px;
}
.btn-md:hover {
  background: #f27c1c;
}
.transparent {
  background: transparent;
}
.transparent:hover {
  background: rgb(112, 112, 112);
}
.modal-body {
  background: rgb(30, 30, 30);
  padding: 19px 12px;
  border-radius: 14px;
}
.profile_heading {
  margin-left: 192px;
  font-size: 15px;
  margin-top: 35px;
}
.profile_mainContainer {
  display: flex;
  margin-left: 170px;
  height: 75vh;
}
.profile_container {
  margin: 30px 30px 0px 0px;
  height: 100%;
  color: black;
  width: 100%;
  border-radius: 20px;
}
.main-form-field {
  background: rgb(54, 54, 54);
  border-radius: 10px;
  margin: 15px;
  padding: 4px 0px 8px 0px;
}
#nameTax,
#rateTax {
  width: 180px;
  margin: 3px 0px 0px 8px;
}
#profileCountry,
#profileState,
#profileCity,
#profilePostal {
  width: 180px;
  margin: 3px 0px 0px 8px;
}
.profile-inline-form-field {
  display: flex;
  margin: 5px 0px 0px 0px;
}
.inline-form-inp {
  width: 252px;
  margin: 8px 0px 15px 9px;
  outline: none;
  border: 1px solid #277bc0;
  border-radius: 15px;
  background: transparent;
  padding: 8px;
  font-size: 18px;
  color: white;
}
#password {
  border: none;
}
#password:active {
  border: none;
}
#password:hover {
  border: none;
}
.password-field {
  margin: auto;
  width: 500px;
  padding: 0px 3px;
  display: flex;
  border: 1px solid #277bc0;
  border-radius: 15px;
}
.eye-icon {
  cursor: pointer;
  margin: 5px 5px;
}
.inline-form-inp:hover {
  border: 1px solid #fbfbfb;
}
.inline-form-inp:active {
  border: 1px solid #fbfbfb;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-spinner {
  width: 40px;
  height: 40px;
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}
.alert {
  padding: 20px;
  border: 1px solid #d8000c;
  color: #d8000c;
  background-color: #ffbaba;
  animation: 0s ease-in 5s;
  animation-fill-mode: forwards;
  transition: opacity 1s;
  border-radius: 13px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
.clientDetail {
  margin: 14px 0px;
}

.name-box {
  width: 210px;
}
.mainInvoiceContainer {
  width: 75vw;
  margin: 0px 0px 0px 243px;
}
.invoiceName {
  font-family: "Work Sans", sans-serif;
  font-size: 23px;
}
.traders {
  display: flex;
  width: 60%;
  float: left;
}
.invoiceInfo {
  float: left;
  width: 40%;
}
.options {
  display: flex;
  margin: 0px 0px 8px 220px;
}
.payer,
.payee {
  margin: 40px 0px 0px 25px;
  width: 50%;
}
.invoiceNo {
  display: flex;
  margin-top: 40px;
  font-size: 17px;
  font-family: monospace;
}
.option {
  background: rgb(160, 160, 160);
  padding: 2px 15px;
  border-radius: 10px 0px 0px 10px;
  font-family: "Poppins", sans-serif;
  color: #0e0e0e;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.save {
  cursor: pointer;
  background: #e68824e8;
  padding: 4px 18px;
  border-radius: 0px 10px 10px 0px;
  font-family: "Poppins", sans-serif;
}
#status {
  width: 166px;
  font-size: 19px;
  margin-left: 80px;
}
#invoiceDate {
  background: none;
  border: 1px solid #277bc0;
  padding: 7px 0px;
  text-align: center;
  color: white;
  border-radius: 15px;
  font-size: 19px;
  width: 166px;
  margin-left: 80px;
}
.label {
  margin-left: 70px;
  margin-bottom: 3px;
}
.btn-profile {
  background: #dc721a;
  color: white;
  padding: 10px 10px;
  border-radius: 15px;
  width: 25%;
  display: flex;
  cursor: pointer;
  justify-content: center;
  margin-top: 20px;
  margin-left: 200px;
  align-items: center;
}
.addNew-btn {
  background: #dc721a;
  color: white;
  padding: 7px 13px;
  border-radius: 15px;
  width: 11%;
  display: flex;
  cursor: pointer;
  justify-content: center;
  margin-top: 20px;
  margin-left: 20px;
  align-items: center;
  font-family: "Rubik", sans-serif;
}
button {
  padding: 2px 15px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #0e0e0e;
  background: none;
  cursor: pointer;
  outline: none;
  border: none;
}
.addNewItem {
  margin: 18px 0px 0px 0px;
  height: 130px;
  border-radius: 10px;
  background: #0e0e0e;
  display: flex;
}
.rows {
  display: flex;
  flex-direction: column;
}
.clientAddress p {
  color: green;
}
.firstRow,
.secondRow {
  display: flex;
  height: 50%;
}
.form-inp-sm {
  outline: none;
  border: 1px solid #1e1e1e;
  border-radius: 15px;
  width: 120px;
  background: transparent;
  padding: 0px 10px;
  color: white;
  margin: 0px 4px;
  cursor: pointer;
  font-size: 18px;
}
.form-inp-md {
  outline: none;
  border: 1px solid #1e1e1e;
  border-radius: 15px;
  width: 355px;
  background: transparent;
  padding: 0px 10px;
  color: white;
  margin: 0px 4px;
  cursor: pointer;
  font-size: 17px;
}
.form-field-coloured {
  flex-direction: column;
  display: inline-flex;
  background: #1e1e1e;
  margin: 3px 5px 4px 7px;
  border-radius: 10px;
  padding: 0px 0px 6px 0px;
}
.form-label-sm {
  margin: 4px 0px 4px 15px;
  font-size: 15px;
  color: darkgrey;
  font-family: "Work Sans", sans-serif;
}
.invoiceSpan {
  font-family: "Rubik", sans-serif;
  margin: 0px 0px;
  color: darkgray;
}
#clientEmail,
#userEmail {
  color: #1170be;
}
.totals {
  margin: 4px 0px 0px 13px;
  /* justify-content: space-evenly; */
  display: flex;
  flex-direction: column;
}
h5 {
  font-weight: 500;
  margin: 0px 0px 6px 0px;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
}
.delete-btn {
  display: flex;
  background: red;
  cursor: pointer;
  width: 90px;
  margin: 5px 0px 0px 0px;
  border-radius: 5px;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px 2px;
  font-size: 15px;
  font-family: "Rubik", sans-serif;
}
.totalElem {
  display: flex;
}
.totalInp {
  border: none;
  background: none;
  color: white;
  font-weight: 500;
  margin: 0px 0px 6px 0px;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  outline: none;
}
.totalLabel {
  font-weight: 500;
  width: max-content;
  margin: 0px 5px 6px 0px;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
}
.prices {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.invoiceTo > p {
  color: black;
  text-align: left;
}
.basicDetails > p {
  color: black;
  text-align: left;
  font-size: 16px;
}
.payTo > p {
  color: black;
  text-align: right;
  font-size: 20px;
}
.payTo > h1 {
  color: black;
  text-align: right;
  font-family: "Rubik", sans-serif;
  font-size: 22px;
}
#invoiceToHeading {
  font-family: "Rubik", sans-serif;
  font-size: 22px;
}
.payTo > span {
  color: black;
  float: right;
}
.partiesDetails {
  display: flex;
}
.invoiceTo,
.payTo {
  width: 50%;
}
.invoiceTo > p,
.payTo > p {
  font-size: 15px;
  line-height: 12px;
}
.email {
  color: #1170be;
  text-decoration: underline;
}
#email {
  color: #1170be;
  text-decoration: underline;
}
.singleClientContainer {
  margin: 35px 0px 0px 166px;
  width: 80%;
}
.singleClientContainer h1 {
  font-size: 24px;
  font-family: "Work Sans", sans-serif;
}
.clientHeader {
  /* display: flex;
  justify-content: space-between; */
  border-bottom: 2px solid lightgrey;
}
.headerRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.row1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.headerOptions {
  display: flex;
  margin: 0px 0px 8px 846px;
}
.containerOptions {
  display: flex;
}
.clientDetails {
  margin: 0px 15px 0px 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  cursor: pointer;
}
.clientDetails.active {
  color: orange;
  border-bottom: 3px double;
}

.clientInvoice {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  cursor: pointer;
}
.clientInvoice.active {
  color: orange;
  border-bottom: 3px double;
}
.companyInformation,
.companyAddress,
.companyTaxes {
  width: 430px;
  background: rgb(54, 54, 54);
  border: 1px solid grey;
  border-radius: 10px;
  margin: 20px 0px 0px 10px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.companyInformation {
  height: 200px;
}
.companyTaxes {
  height: 150px;
}
.companyAddress {
  height: 240px;
}
.content {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  margin: 0px 5px;
}
.content {
  font-weight: 600;
}
.companyInfoheading {
  font-weight: 500;
}
.clientInvoices {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 75px 0px 30px 150px;
}
/* Mobile Devices */
@media (min-width: 320px) and (max-width: 480px) {
  .container {
    width: 90%;
  }
  .form-inp {
    width: 280px;
  }
  #password {
    width: 280px;
  }
  .password-field {
    width: 280px;
  }
  .greet {
    width: 91px;
    font-size: 15px;
  }
  .coInfoContainer {
    width: 100%;
  }
  .inline-form-field {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .coInfo,
  .taxInfo,
  .address {
    width: 326px;
    height: -moz-fit-content;
    height: fit-content;
    margin: auto;
    padding: 16px;
  }
  #taxName,
  #taxRate,
  #country,
  #state,
  #city,
  #postal {
    width: 280px;
  }

  .right-div {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .left-div {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .MainDashboard {
    flex-direction: column;
    left: 14%;
  }
}
/* Tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .container {
    width: 80%;
  }
  .form-inp {
    width: 326px;
  }
  #password {
    width: 326px;
  }
  .password-field {
    width: 326px;
  }
  .coInfoContainer {
    width: 80%;
  }
  .inline-form-field {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .coInfo,
  .taxInfo,
  .address {
    width: 400px;
    height: fit-content;
    margin: auto;
    padding: 16px;
  }
  #taxName,
  #taxRate,
  #country,
  #state,
  #city,
  #postal {
    width: 326px;
  }

  .right-div {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .left-div {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .MainDashboard {
    flex-direction: column;
    left: 14%;
  }
}
/* Laptops */
@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    width: 70%;
  }
  .form-inp {
    width: 400px;
  }
  #password {
    width: 400px;
  }
  .password-field {
    width: 400px;
  }
  .coInfoContainer {
    width: 70%;
  }
  .coInfo,
  .taxInfo,
  .address {
    width: 500px;
    margin: auto;
  }
  #taxName,
  #taxRate {
    width: 175px;
  }
  .right-div {
    margin-left: -10px;
  }
  .left-div {
    margin-left: 22px;
  }
  .MainDashboard {
    flex-direction: column;
    left: 24%;
  }
  .traders {
    flex-direction: column;
  }
}
@media (max-width: 1300px) and (min-width: 1040px) {
  .MainDashboard {
    left: 8%;
  }
}
table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  /* width: 550px; */
  margin-left: auto;
  margin-right: auto;
}

td,
caption {
  padding: 16px;
}

th {
  padding: 16px;
  background-color: lightblue;
  text-align: left;
}
